* {
    margin: 0%;
    font-family: Arial;
    border: border-box;
}

.navbar {
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
}

.nav-logo {
    height: 50px;
    width: 129.73px;
    display: flex;
}

.logo {
    background-image: url("/Amazon/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    display: flex;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

.a {
    color: #cccccc;
    font-size: 16px;
    margin-left: 15px;
}

.b {
    font-size: 14px;
    margin-left: 3px;
}

.address-icon {
    display: flex;
}

.nav-search {
    margin-left: 3vmin;
    display: flex;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
}

.search-select {
    border-left: 4px;
}

.nav-search-icon {
    background-color: yellow;
    color: black;
    border-left: 4px;
}

.nav-signin{
    margin-left: 3vmin;
}

span {
    margin-left: 3vmin;
    color: #cccccc;
    height: 14px;
    width: 58.95px;
}

.nav-cart{
    margin-left: 3vmin;
    
}