* {
    margin: 0%;
    font-family: Arial;
    border: border-box;
}

.navbar {
    background-color: #0f1111;
    height: 60px;
    color: white;
}

.nav-logo {
    height: 50px;
    width: 129.73px;
    display: flex;
}

.logo {
    background-image: url("/Amazon/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    display: flex;
}